* @yamada-ui/prime @yamada-ui/standard

*.md @hirotomoyamada
!.changeset/*.md @yamada-ui/prime @yamada-ui/standard
package.json @hirotomoyamada
LICENSE @hirotomoyamada
.github/ @hirotomoyamada
.gitignore @hirotomoyamada
