* @yamada-ui/melchior @yamada-ui/balthasar @yamada-ui/caspar

*.md @hirotomoyamada
.changeset/*.md @yamada-ui/melchior @yamada-ui/balthasar @yamada-ui/caspar
package.json @hirotomoyamada
LICENSE @hirotomoyamada
.github/ @hirotomoyamada
.gitignore @hirotomoyamada
