* @yamada-ui/prime @yamada-ui/standard @yamada-ui/growth

*.md @hirotomoyamada
.changeset/*.md @yamada-ui/prime @yamada-ui/standard @yamada-ui/growth
package.json @hirotomoyamada
LICENSE @hirotomoyamada
.github/ @hirotomoyamada
.gitignore @hirotomoyamada
