{
  "root": true,
  "extends": [
    "next/core-web-vitals",
    "../.eslintrc"
  ],
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "unused-imports",
    "import"
  ],
  "rules": {
    "@next/next/no-title-in-document-head": "off"
  }
}
