name: lint workflows

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/**/*.yml"
      - ".github/**/*.yaml"

jobs:
  lint:
    name: Lint workflows
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          mise_toml: |
            [tools]
            pinact = "latest"
            actionlint = "latest"
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run pinact
        run: |
          pinact run --check

      - name: Run actionlint
        run: |
          actionlint
