name: Lint workflow

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/**/*.yml"
      - ".github/**/*.yaml"

jobs:
  lint:
    name: Lint workflow
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@3d49c6412901042473ffa78becddab1aea46bbea # v1.3.1
        with:
          skip_push: true

      - name: Install actionlint with jdx/mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          mise_toml: |
            [tools]
            actionlint = "1.7.10"
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run actionlint
        run: |
          actionlint
