name: Observe Issues and Pull Requests

on:
  schedule:
    - cron: "0 9 * * *"

jobs:
  issue-and-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Generate signature
        id: generate_signature
        run: |
          body='{"owner":"yamada-ui","repo":"yamada-ui"}'
          echo "::set-output name=body::$body"
          signature=$(echo -n $body | openssl dgst -sha256 -hmac "${{ secrets.API_SECRET }}" | sed 's/^.* //')
          echo "::set-output name=signature::$signature"

      - name: Update issues and pull requests
        run: |
          curl -X POST \
          -H "Content-Type: application/json" \
          -H "x-signature: sha256=${{ steps.generate_signature.outputs.signature }}" \
          -d '${{ steps.generate_signature.outputs.body }}' \
          ${{ vars.OBSERVE_API_URL }}

      - name: Create or update test issues
        run: pnpm issue:coverage
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          CODECOV_API_TOKEN: ${{ secrets.CODECOV_API_TOKEN }}

      - name: Create or update a11y issues
        run: |
          pnpm dlx playwright install
          pnpm react test:a11y
          pnpm issue:a11y --no-report
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
