name: Quality

on:
  pull_request:
    branches:
      - main
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Check modified files
        id: check-modified
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            turbo.json
            packages/**/(package.json|tsconfig.json|tsdown.config.ts)
            packages/**/src/**/*.{ts,tsx}
            !packages/**/src/**/*.stories.{ts,tsx}
            !packages/**/src/**/*.test.{ts,tsx}
            !packages/workspace/src/**
            packages/workspace/src/typescript/**

      - name: Cache turbo build setup
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}

      - name: Install
        if: steps.check-modified.outputs.any_changed == 'true'
        uses: ./.github/composite-actions/install

      - name: Build packages
        if: steps.check-modified.outputs.any_changed == 'true'
        run: pnpm build

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Check modified files
        id: check-modified
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            packages/**/(package.json|vitest.config.mts)
            packages/**/(src|test)/**/*.{ts,tsx}
            !packages/**/src/**/*.stories.{ts,tsx}
            !packages/workspace/src/**
            packages/workspace/src/vitest/**

      - name: Install
        if: steps.check-modified.outputs.any_changed == 'true'
        uses: ./.github/composite-actions/install

      - name: Run tests
        if: steps.check-modified.outputs.any_changed == 'true'
        run: pnpm test:coverage

      - name: Upload coverage
        if: steps.check-modified.outputs.any_changed == 'true'
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4.6.0
        with:
          fail_ci_if_error: false
          file: ./packages/react/coverage/coverage-final.json,./packages/utils/coverage/coverage-final.json
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          codecov_yml_path: ./codecov.yml

  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Check modified files
        id: check-modified-packages
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            packages/**/(package.json|tsconfig.json)
            packages/**/*.{ts,tsx,mts}

      - name: Check modified files
        id: check-modified-scripts
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            packages/workspace/src/eslint/**
            packages/workspace/package.json
            scripts/**
            package.json
            tsconfig.json
            eslint.config.ts

      - name: Check modified files
        id: check-modified-www
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            packages/workspace/src/eslint/**
            packages/workspace/package.json
            www/**/*.{ts,tsx,mts,mdx}
            www/package.json
            www/tsconfig.json
            www/eslint.config.ts

      - name: Install
        if: steps.check-modified-packages.outputs.any_changed == 'true' || steps.check-modified-scripts.outputs.any_changed == 'true' || steps.check-modified-www.outputs.any_changed == 'true'
        uses: ./.github/composite-actions/install

      - name: Run lint
        if: steps.check-modified-packages.outputs.any_changed == 'true'
        run: pnpm lint

      - name: Run lint
        if: steps.check-modified-scripts.outputs.any_changed == 'true'
        run: pnpm lint:scripts

      - name: Run lint
        if: steps.check-modified-www.outputs.any_changed == 'true'
        run: |
          pnpm www build:content
          pnpm www lint

  typescript:
    name: TypeScript
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Check modified files
        id: check-modified-packages
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            packages/**/(package.json|tsconfig.json)
            packages/**/*.{ts,tsx,mts}

      - name: Check modified files
        id: check-modified-scripts
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            packages/workspace/src/typescript/**
            packages/workspace/package.json
            scripts/**
            package.json
            tsconfig.json

      - name: Check modified files
        id: check-modified-www
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            packages/workspace/src/typescript/**
            packages/workspace/package.json
            www/**/*.{ts,tsx,mts}
            www/package.json
            www/tsconfig.json

      - name: Install
        if: steps.check-modified-packages.outputs.any_changed == 'true' || steps.check-modified-scripts.outputs.any_changed == 'true' || steps.check-modified-www.outputs.any_changed == 'true'
        uses: ./.github/composite-actions/install

      - name: Run typecheck
        if: steps.check-modified-packages.outputs.any_changed == 'true'
        run: pnpm typecheck

      - name: Run typecheck
        if: steps.check-modified-scripts.outputs.any_changed == 'true'
        run: pnpm typecheck:scripts

      - name: Run typecheck
        if: steps.check-modified-www.outputs.any_changed == 'true'
        run: |
          pnpm www build:content
          pnpm www typecheck

  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Check modified files
        id: check-modified-packages
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            packages/**
            .prettierignore
            .prettierrc.js

      - name: Check modified files
        id: check-modified-scripts
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            packages/workspace/src/prettier/**
            packages/workspace/package.json
            scripts/**
            .prettierignore
            .prettierrc.js

      - name: Check modified files
        id: check-modified-www
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            packages/workspace/src/prettier/**
            packages/workspace/package.json
            www/**
            .prettierignore
            .prettierrc.js

      - name: Install
        if: steps.check-modified-packages.outputs.any_changed == 'true' || steps.check-modified-scripts.outputs.any_changed == 'true' || steps.check-modified-www.outputs.any_changed == 'true'
        uses: ./.github/composite-actions/install

      - name: Run format
        if: steps.check-modified-packages.outputs.any_changed == 'true'
        run: pnpm format

      - name: Run format
        if: steps.check-modified-scripts.outputs.any_changed == 'true'
        run: pnpm format:scripts

      - name: Run format
        if: steps.check-modified-www.outputs.any_changed == 'true'
        run: |
          pnpm www build:content
          pnpm www format
