name: Release

on:
  push:
    paths:
      - ".changeset/**"
      - "packages/**"
      - "!packages/**/(storybook|test)/**"
      - "!packages/**/*.(stories|test).(ts|tsx|mdx)"
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}

      - name: Cache turbo build setup
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Build packages
        run: pnpm build

      - name: Create release PR or publish to NPM
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          publish: pnpm release
          title: "Updated packages"
          commit: "ci(changesets): updated packages"
          setupGitUser: false
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create @dev release
        if: steps.changesets.outputs.published != 'true'
        run: |
          git checkout main
          pnpm release:dev
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update www
        if: steps.changesets.outputs.published == 'true'
        run: |
          pnpm gen:styles -p
          git add .
          git diff --staged --exit-code || git commit -m 'ci(changesets): update styles'
          pnpm gen:props -p
          git add .
          git diff --staged --exit-code || git commit -m 'ci(changesets): update props'
          pnpm gen:registries -p
          git add .
          git diff --staged --exit-code || git commit -m 'ci(changesets): update registries'
          pnpm www build:content
          pnpm www gen:icons
          pnpm www gen:conditions
          pnpm www gen:theme
          pnpm www gen:changelog
          pnpm www gen:contributors
          git add .
          git diff --staged --exit-code || git commit -m 'ci(changesets): update www'
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Notification release
        if: steps.changesets.outputs.published == 'true'
        run: |
          pnpm notification:release
        env:
          DISCORD_RELEASE_WEBHOOK_URL: ${{ secrets.DISCORD_RELEASE_WEBHOOK_URL }}
