name: Release

on:
  push:
    paths:
      - ".changeset/**"
      - "packages/**"
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}

      - name: Check changed stories
        id: stories
        run: |
          echo "changed=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -q -e '^\.storybook/' -e '^stories/' && echo true || echo false)" >> $GITHUB_OUTPUT
        shell: bash

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Build packages
        run: pnpm build

      - name: Create release PR or publish to NPM
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release
          title: "Updated packages"
          commit: "ci(changesets): updated packages"
          setupGitUser: false
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create @dev release
        if: steps.changesets.outputs.published != 'true'
        run: |
          git checkout main
          pnpm release:dev
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update changelog
        if: steps.changesets.outputs.published == 'true'
        run: |
          pnpm changelog:latest
          git add .
          git diff --staged --exit-code || (git commit -m 'ci(changelog): added changelog' && git push)

      - name: Notification release
        if: steps.changesets.outputs.published == 'true'
        run: |
          pnpm notification:release
        env:
          DISCORD_RELEASE_WEBHOOK_URL: ${{ secrets.DISCORD_RELEASE_WEBHOOK_URL }}

      - name: Build Storybook
        if: steps.stories.outputs.changed == 'true' || steps.changesets.outputs.published == 'true'
        run: pnpm storybook:build

      - name: Update Storybook
        if: steps.stories.outputs.changed == 'true' || steps.changesets.outputs.published == 'true'
        uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          branch: gh-pages
          folder: storybook-static
          clean: true
          clean-exclude: .nojekyll

      - name: Sync Colors
        if: steps.changesets.outputs.published == 'true'
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'yamada-ui',
              repo: 'yamada-colors',
              workflow_id: 'sync.yml',
              ref: 'main'
            })

      - name: Sync Components
        if: steps.changesets.outputs.published == 'true'
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'yamada-ui',
              repo: 'yamada-components',
              workflow_id: 'sync.yml',
              ref: 'main'
            })

      - name: Sync Theme
        if: steps.changesets.outputs.published == 'true'
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'yamada-ui',
              repo: 'yamada-theme',
              workflow_id: 'sync.yml',
              ref: 'main'
            })

      - name: Sync Docs
        if: steps.changesets.outputs.published == 'true'
        uses: ./.github/composite-actions/sync-docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
