name: Security

on:
  pull_request:
    paths:
      - ".github/**/*.yml"
      - ".github/**/*.yaml"
    branches:
      - main
      - v*

jobs:
  pinact:
    name: Pinact
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@3d49c6412901042473ffa78becddab1aea46bbea # v1.3.1
        with:
          skip_push: true
