name: Storybook

on:
  push:
    paths:
      - "packages/**/*.(html|ts|tsx)"
      - "packages/**/package.json"
      - "!packages/(cli|workspace)/**"
      - "!packages/**/test/**"
      - "!packages/**/*.test.(ts|tsx)"
      - "package.json"
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Build Storybook
        run: pnpm react storybook:build

      - name: Insert ignored-build-step.sh
        run: |
          dir="packages/react/storybook-static/www"
          mkdir -p "$dir" && touch "$dir/ignored-build-step.sh"
          echo "exit 0" > "$dir/ignored-build-step.sh"

      - name: Update Storybook
        uses: JamesIves/github-pages-deploy-action@65b5dfd4f5bcd3a7403bbc2959c144256167464e # v4.5.0
        with:
          branch: gh-pages
          folder: packages/react/storybook-static
          clean: true
          clean-exclude: .nojekyll
